version: '3.7'

services:
    maxapi-server:
        image: maxapi:latest
        networks:
            - network_public
        environment:
            - MAXAPI_ADMIN_TOKEN=${MAXAPI_ADMIN_TOKEN}
            - DB_USER=${DB_USER:-maxapi}
            - DB_PASSWORD=${DB_PASSWORD:-maxapi}
            - DB_NAME=${DB_NAME:-maxapi}
            - DB_HOST=db
            - DB_PORT=${DB_PORT:-5432}
            - TZ=${TZ:-America/Sao_Paulo}
            - MAXAPI_WEBHOOK_FORMAT=${MAXAPI_WEBHOOK_FORMAT:-json}
            - MAXAPI_SESSION_DEVICE_NAME=${MAXAPI_SESSION_DEVICE_NAME:-MaxAPI}
            # RabbitMQ configuration Optional
            - RABBITMQ_URL=amqp://maxapi:maxapi@rabbitmq:5672/
            - RABBITMQ_QUEUE=max_events
        deploy:
            mode: replicated
            replicas: 1
            restart_policy:
                condition: on-failure
            placement:
                constraints: [node.role == manager]
            resources:
                limits:
                    cpus: '1'
                    memory: 512MB
            labels:
                - traefik.enable=true
                - traefik.http.routers.maxapi-server.rule=Host(`api.maxapi.app`)
                - traefik.http.routers.maxapi-server.entrypoints=websecure
                - traefik.http.routers.maxapi-server.priority=1
                - traefik.http.routers.maxapi-server.tls.certresolver=letsencryptresolver
                - traefik.http.routers.maxapi-server.service=maxapi-server
                - traefik.http.services.maxapi-server.loadbalancer.server.port=${MAXAPI_PORT:-8080}

    # RabbitMQ service OPTIONAL
    rabbitmq:
        image: rabbitmq:3-management
        networks:
            - network_public
        environment:
            - RABBITMQ_DEFAULT_USER=maxapi
            - RABBITMQ_DEFAULT_PASS=maxapi
            - RABBITMQ_DEFAULT_VHOST=/
        deploy:
            mode: replicated
            replicas: 1
            restart_policy:
                condition: on-failure
            placement:
                constraints: [node.role == manager]
            resources:
                limits:
                    cpus: '0.5'
                    memory: 256MB
            labels:
                - traefik.enable=true
                - traefik.http.routers.rabbitmq-management.rule=Host(`rabbitmq.maxapi.app`)
                - traefik.http.routers.rabbitmq-management.entrypoints=websecure
                - traefik.http.routers.rabbitmq-management.priority=1
                - traefik.http.routers.rabbitmq-management.tls.certresolver=letsencryptresolver
                - traefik.http.routers.rabbitmq-management.service=rabbitmq-management
                - traefik.http.services.rabbitmq-management.loadbalancer.server.port=15672
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq

volumes:
    rabbitmq_data:

networks:
    network_public:
        name: network_public
        external: true
